/* To be overridden by theme user, scss variables are also accessible here */

.book-page {
    padding-left: 32px;
}

.book-page h4 {
    font-weight: 700;
}
.book-page h3 {
    margin-left: -16px;
    font-weight: 700;
}
.book-page h2 {
    margin-left: -16px;
    font-weight: 700;
}
.book-page h1 {
    margin-left: -16px;
}