@import url(https://fonts.googleapis.com/css?family=Handlee&display=swap);
// @import url(https://fonts.googleapis.com/css?family=Indie+Flower&display=swap);
@import url(https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i&display=swap);

body {
  font-family:  Handlee, 'Indie Flower', serif;
}

code {
  font-family: 'Roboto Mono', monospace;
}

.markdown blockquote {
  font-family: 'Alegreya', serif;
}