@import "defaults";
@import "variables";

@import "normalize";
@import "utils";
@import "main";
@import "fonts";

@import "markdown";
@import "shortcodes";

// Custom defined styles
@import "custom";



.book-page {
    padding-left: 32px;
}

.book-page h4 {
    font-weight: 700;
    text-decoration: underline;
}
.book-page h3 {
    margin-left: -16px;
    font-weight: 700;
}
.book-page h2 {
    margin-left: -16px;
    font-weight: 700;
}
.book-page h1 {
    margin-left: -16px;
}
.markdown blockquote {
    background-color: #f6f6ff;
    font-size: smaller;
}